= content_for :header do
  Settings

= simple_form_for @user, remote: true do |f|
  = f.error_notification

  .form-inputs
    = f.number_field :number_of_lesson_questions, class: 'form-control'
    = f.number_field :number_of_lesson_correct, class: 'form-control'


  .form-actions
    = f.button :submit
