%li.table-row{id: "c#{answer.card.id}"}
  .table-item= link_to answer.question, edit_deck_card_path(answer.card.deck, answer.card), remote: true
  .table-item= answer.correct_answer
  .table-item= answer.answer
  .table-item{class: answer.status}= answer.status
