%tr{id: "a#{answer.card.id}"}
  %td= link_to answer.question, edit_deck_card_path(answer.card.deck, answer.card), remote: true
  %td= answer.correct_answer
  %td= answer.answer
  %td{class: answer.status}= answer.status
