= content_for :header do
  = @lesson.deck.name + ' - lesson'

.progress-box
  = render 'progress'

%ul.table
  %li.table-header
    .table-item Question
    .table-item Correct answer
    .table-item Your answer
    .table-item Status
  #previous-questions
    = render partial: 'answers/answer', collection: @lesson.last_answers

#question-box
  =render 'question'

#answer-box.alert.alert-warning
  = form_tag next_question_path, method: :put, remote: true do
    .input-group
      = text_field_tag 'answer', nil, class: 'form-control', autocomplete: 'off'
      %span.input-group-btn
        = button_tag 'Next', type: 'submit', class: 'btn btn-success'
