= content_for :header do
  = @lesson.deck.name + ' - lesson'

#progress-box
  = render 'progress'

%table#previous-questions.table
  %thead
    %tr
      %th Question
      %th Correct answer
      %th Your answer
      %th Status
  %tbody
    = render partial: 'answers/answer', collection: @lesson.last_answers

#question-box
  =render 'question'

#answer-box.alert.alert-warning
  = form_tag next_question_path, method: :put, remote: true do
    .input-group
      = text_field_tag 'answer', nil, class: 'form-control'
      %span.input-group-btn
        = button_tag 'Next', type: 'submit', class: 'btn btn-success'
