%tr{id: "c#{card.id}"}
  %td= link_to card.front_truncated, edit_deck_card_path(card.deck, card), remote: true
  %td= card.back_truncated
  %td= card.created_date
  %td= card.updated_date
  %td= card.wrong_answers
  %td= card.correct_answers
  %td= card.last_showed_date
  %td= image_tag card.front_image.thumb.url

  %td
    = link_to 'Destroy', deck_card_path(card.deck, card), class: 'btn btn-xs btn-danger', method: :delete, remote: true, data: { confirm: 'Are you sure?'}
