= form_for @card, remote: true do |f|
  - if @card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@card.errors.count, 'error')} prohibited this card from being saved"
      %ul
        - @card.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :front
    = f.text_area :front
  .field
    = f.label :back
    = f.text_area :back

  .actions
    = f.submit 'Save'
