= simple_form_for([card.deck, card], remote: true) do |f|
  .form-inputs
    = f.input :front
  .form-inputs
    = f.input :back
  .form-inputs
    = f.select :word_class, collection: Card.word_classes.map {|k, v| [k, k]}
  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-sm'
