= content_for :header do
  Cards

= render 'form'

#new

%table.table
  %thead
    %tr
      %th= sort_link(@q, :front)
      %th= sort_link(@q, :back)
      %th= sort_link(@q, :created_at)
      %th= sort_link(@q, :updated_at)
      %th= sort_link(@q, :views)
      %th= sort_link(@q, :correct)
      %th= sort_link(@q, :last_showed_at)
      %th{colspan: "2"}

  %tbody
    = render(@cards)
