= content_for :header do
  =@deck.name + " - cards"

= content_for :description do
  =@deck.description

%ul.table
  %li.table-header
    .table-item= sort_link(@q, :front)
    .table-item= sort_link(@q, :back)
    .table-item= sort_link(@q, :created_at)
    .table-item= sort_link(@q, :updated_at)
    .table-item= sort_link(@q, :views)
    .table-item= sort_link(@q, :correct)
    .table-item= sort_link(@q, :last_showed_at)

  = render(@cards)

.new-card= render partial: 'cards/form', locals: {card: @deck.cards.new}

.button-container
  = link_to "Export CSV", deck_path(@deck, format: "csv"), class: 'btn btn-primary'
  = link_to "Create PDF document", deck_path(@deck, format: "pdf"), class: 'btn btn-primary'
