= simple_form_for(@deck) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  .form-inputs
    = f.input :description

  .form-actions
    = f.button :submit , class: 'btn btn-primary'
    = link_to "<i class='fas fa-trash'></i>  Cancel".html_safe, decks_path, class: 'btn btn-danger'
