!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : 'Szybka nauka'
    %meta{ name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Props'}" }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .row
      %nav.navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-header
            = link_to "<i class='fa fa-trophy' aria-hidden='true'></i> Szybka nauka".html_safe , root_path, class: "navbar-brand"
          .navbar-nav
            = link_to 'Cards', cards_path, class: "nav-item nav-link"
            = link_to 'Start lesson', new_lesson_path, class: "nav-item nav-link"
    .box
      .header
        %h1= yield :header
        .row
          - flash.each do |key, value|
            - h = {success: 'success', error: 'danger', notice: 'info'}
            %div{class: "alert alert-#{h[key.to_sym]}"}= value
      .app
        .container
          .panel.row
            = yield
        .footer
          .container
            .row
